<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="win10.0.22621" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="win10.0.22621" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="win10.0.22621" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="win10.0.22621" />
</packages>